.company-directory{
  width: 85vw;
  
  .search-container{
    width: auto;
    margin-left:4px;
  }


  .business-list {
    width: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    
  }

}



