.blk-main-footer{
    background-color: #223843;
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 300px;
    width: 100%;
    position: relative;

    .footer-content{
        height: 250px;
        display: flex;

        .footer-section{
            flex: 1;
            padding:25px;
            border: 1px solid #223843;
        }
    }

    .footer-bottom{
        background-color: #223843;
        color: white;
        font-family: 'Raleway', sans-serif;
        height: 50px;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-top: 20px;
        border-top: 1px solid white;
    }
}